.scrollable-sidebar {
    max-height: 70vh; /* Adjust this value based on your desired maximum height */
    overflow-y: auto;
}

/* Optional shadow for a visual cue */
.scrollable-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

.scrollable-sidebar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

.message {
    margin: 20px;
}

.usermessagediv {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 20%;
}

.usermessage {
    background-color: #097df1;
    color: #fff;
    padding: 0.5rem .875rem;
    border-radius: 20px;
}

.appmessagediv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 20%;
}

.appmessage {
    background-color: #e5e5ea;
    color: #000;
    padding: 0.5rem .875rem;
    border-radius: 20px;
}

.upper {
    max-height: 50vh;
    padding-top: 40px;
    padding-bottom: 170px;
    overflow: auto;
}

.upper::-webkit-scrollbar {
    width: 0 !important
}

#sendbtn:disabled {
    opacity: 0.6;
}

.downwarning {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 90%;
    color: gray;
}

/* Style for the video container */
.video-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius:50px;
    border: 1px solid #999;
    box-shadow: 5px 5px 10px #ddd;
}

/* Style for the video */
.video-container video {
    width: 100px;
    height: 120px;
    object-fit: cover; /* This will ensure that the video fills the container without distortion */
}

#chatContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-out;
}

#micIcon {
    right: 45px;
    top: 6px;
    color: grey;
    cursor: pointer;
    z-index: 2;
}