<!-- Chat Container -->
<style>
    .btn-mic {
    background-color: #DCE4F0; /* Greyish blue color */
    border: 1px solid dimgray; /* Thin black line */
}

</style>
<div class="container align-items-center" style="border: 1px solid #eee; padding: 20px;">
    <div class="box justify-content-center" >
        <div id="avatar" style="margin-bottom: -100px; position: relative">
            <div class="video-container">
                <video id="avatar-video" loop muted>
                    <source src="/static/avatar.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <!-- Upper section for chat messages -->
        <div class="upper mb-4 overflow-auto" id="upperid">
        <!-- <div class="upper mb-4 overflow-auto" style="min-height: 40vh" id="upperid"> -->

            <span class="d-block text-center text-muted">Type your message in the box below.</span>
            <!-- Messages will go here -->
        </div>

        <!-- Chat Input Section -->
        <div class="bottom bg-white p-3">
            <form id="userinputform" class="input-group">
                <textarea id="userinput" rows="1" class="form-control" placeholder="Your message..."
                    required></textarea>
                <div class="input-group-append">

               <button type="button" class="btn btn-mic" id="micbtn">
            <i class="bi bi-mic"></i>
        </button>
        <button type="submit" class="btn btn-primary" id="sendbtn">
            <i class="bi bi-send"></i>
        </button>
                </div>
            </form>

        </div>
    </div>
</div>


<script>
    // for scrolling messages
    function scrollToBottom() {
        var div = document.getElementById("upperid");
        div.scrollTop = div.scrollHeight;
    }
    scrollToBottom()

    document.getElementById("userinputform").addEventListener("submit", function (event) {
        event.preventDefault();
        formsubmitted();
    });

    // Submit on Enter
    // Add event listener
    document.getElementById("userinput").addEventListener("keypress", function (event) {
        if (event.which === 13 && !event.shiftKey) {
            event.preventDefault();

            var form = document.getElementById("userinputform")
            if (form) {
                event.preventDefault();
                formsubmitted();
            }
        }
    });


    // sending request to python server
    const formsubmitted = async () => {
        let userinput = document.getElementById('userinput').value
        let sendbtn = document.getElementById('sendbtn')
        let userinputarea = document.getElementById('userinput')
        let upperdiv = document.getElementById('upperid')
        var video = document.getElementById("avatar-video");


        upperdiv.innerHTML = upperdiv.innerHTML + `<div class="message">
            <div class="usermessagediv">
                    <div class="usermessage">
                        ${userinput}
                    </div>
            </div>
        </div>`
        sendbtn.disabled = true
        userinputarea.disabled = true
        scrollToBottom()
        document.getElementById('userinput').value = ""
        document.getElementById('userinput').placeholder = "Wait . . ."

        const response = await fetch("/race/{{quote(current_race)}}/chat/vlad", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ data: userinput })


        });
        let json = await response.json();

        document.getElementById('userinput').placeholder = "Your message..."


        if (json.response) {
            video.play();
            
            let message = json.message
            message = message.toString()

            upperdiv.innerHTML = upperdiv.innerHTML + `<div class="message">
            <div class="appmessagediv">
                <div class="appmessage" id="temp">
                    
                </div>
            </div>
        </div>`
            let temp = document.getElementById('temp')
            let index = 0
            function displayNextLetter() {
                scrollToBottom()
                if (index < message.length) {
                    temp.innerHTML = temp.innerHTML + message[index];
                    index++;
                    setTimeout(displayNextLetter, 15);
                } else {
                    temp.removeAttribute('id')
                    sendbtn.disabled = false
                    userinputarea.disabled = false
                    video.pause();
                }
            }
            displayNextLetter()
            scrollToBottom()

        }
        else {
            let message = json.message
            upperdiv.innerHTML = upperdiv.innerHTML +
                `<div class="message">
            <div class="appmessagediv">
                <div class="appmessage"  style="border: 1px solid red;">
                  ${message}

                </div>
            </div>
        </div>`
            sendbtn.disabled = false
            userinputarea.disabled = false
        }

        scrollToBottom()


    } 
</script>